.container {
  // 0px - 359px
  padding-left: 0;
  padding-right: 0;
  // background-color: $via-magenta;
  // 360px - 767px
  @media screen and (min-width: 360px) {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
  // 758px - 1439px
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  // 1440px +
  @media screen and (min-width: 1440px) {
    width: 1170px;
  }
}
