@font-face {
  font-weight: 300;
  font-family: 'TT Hoves';
  src: url('../fonts/TT-Hoves-Pro-Trial-Regular.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'TT Hoves';
  src: url('../fonts/TT-Hoves-Pro-Trial-Medium.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'TT Hoves';
  src: url('../fonts/TT-Hoves-Pro-Trial-Bold.ttf');
}

@font-face {
  font-weight: 900;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Black.otf');
}

body {
  font-family: 'TT Hoves', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}