$background: #ffffff;
$dark-background: #2C2C2C;
$light-background: #f3f3f3;
$textcolor: #333333;
$light-textcolor: #ffffff;
$accent:#BDBDBD;
$via-magenta: #FF0090;
$fontsize: 16px;
$fontsize10: 10px;
$fontsize12: 12px;
$fontsize14: 14px;
$fontsize16: 16px;
$fontsize18: 18px;
$fontsize20: 20px;
$fontsize22: 22px;
$fontsize24: 24px;
$fontsize64: 64px;