<header class="page-header">
  <div class="container header-container">
    <div class="logo-wrapper">
      <a href="#">
        <svg width="70" height="42">
          <use xlink:href="./images/sprite.svg#icon-logo-symbol"></use>
        </svg>
        <img width="70" height="12" src="./images/icon-logo-text.png" alt="digital project" />
      </a>
    </div>
    <nav class="navigation">
      <ul class="nav-list">
        <li><a class="nav-list__link" href="#hero">Главная</a></li>
        <li><a class="nav-list__link" href="#">Галерея</a></li>
        <li><a class="nav-list__link" href="#projects">Проекты</a></li>
        <li><a class="nav-list__link" href="#">Сертификаты</a></li>
        <li><a class="nav-list__link" href="#address">Контакты</a></li>
      </ul>
    </nav>
  </div>
</header>