<section id="hero" class="hero">
  <div class="container hero-container">
    <div class="hero-wrapper__text">
      <h1 lang="en" class="main-title">project <span>home</span></h1>
      <div class="hero_pagination">
        <button type="button">
          <svg width="20" height="8">
            <use xlink:href="./images/sprite.svg#shape-left"></use>
          </svg>
        </button>
        <button type="button">
          <svg width="20" height="8">
            <use xlink:href="./images/sprite.svg#shape-right"></use>
          </svg>
        </button>
      </div>

      <div class="hero__page">
        <p>01</p>
        /
        <p>02</p>
      </div>
    </div>
    <div class="hero-wrapper__img">
      <img class="hero__img" src="./images/Rectangle-6.png" alt="" />
      <button class="btn btn__white hero__btn" type="button">
        Взглянуть
        <svg width="20" height="8">
          <use xlink:href="./images/sprite.svg#shape-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>