<section id="projects">
  <div class="container project-container">
    <h2 class="title">Наши проекты</h2>
    <ul class="project-items__list">
      <li id="list-1">
        <a class="project__link" href="#">
          <div class="project-wrapper">
            <img src="./images/Rectangle-12.jpg" alt="пример проекта №1" />
            <div class="project-overlay">
              <p>досуговый центр</p>
              <button class="project-btn">подробнее
                <svg width="20" height="8">
                  <use href="./images/sprite.svg#shape-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </a>
      </li>
      <li id="list-2">
        <a class="project__link" href="#">
          <div class="project-wrapper">
            <img src="./images/image-15.jpg" alt="пример проекта №2" />
            <div class="project-overlay">
              <p>досуговый центр</p>
              <button class="project-btn">подробнее
                <svg width="20" height="8">
                  <use href="./images/sprite.svg#shape-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </a>

      </li>
      <li id="list-3">
        <a class="project__link" href="#">
          <div class="project-wrapper">
            <img src="./images/image-16.jpg" alt="пример проекта №3" />
            <div class="project-overlay">
              <p>досуговый центр</p>
              <button class="project-btn">подробнее
                <svg width="20" height="8">
                  <use href="./images/sprite.svg#shape-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </a>
      </li>
      <li id="list-4">
        <a class="project__link" href="#">
          <div class="project-wrapper">
            <img src="./images/image-17.jpg" alt="пример проекта №4" />
            <div class="project-overlay">
              <p>досуговый центр</p>
              <button class="project-btn">подробнее
                <svg width="20" height="8">
                  <use href="./images/sprite.svg#shape-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </a>
      </li>
      <li id="list-5">
        <a class="project__link" href="#">
          <div class="project-wrapper">
            <img src="./images/image-18.jpg" alt="пример проекта №5" />
            <div class="project-overlay">
              <p>досуговый центр</p>
              <button class="project-btn">подробнее
                <svg width="20" height="8">
                  <use href="./images/sprite.svg#shape-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <button class="btn btn__black projects-btn" type="button">
      Все проекты
      <svg width="20" height="8">
        <use href="./images/sprite.svg#shape-right"></use>
      </svg>
    </button>
  </div>
</section>