<section>
  <div class="container property-container">
    <h2 class="title">Основные задачи</h2>
    <ul class="property__list">
      <li>
        <p class="property__numbers">1</p>
        <p class="property__text">
          Создание комфортных условий и повышение качества обслуживания
          клиентов
        </p>
      </li>
      <li>
        <p class="property__numbers">2</p>
        <p class="property__text">
          Постоянно совершенствовать качество предоставляемых услуг путем
          обучения персонала, закупки нового оборудования и усиленной
          рекламы на рынке
        </p>
      </li>
    </ul>
  </div>
</section>