.property-container {
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1440px) {
    padding-bottom: 120px;
  }
}

.property__list{
  padding-top: 60px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1440px){
    flex-direction: row;
    justify-content: space-between;
  }

  & li {
    display: flex;
    width: 100%;
    max-width: 570px;
    gap: 30px;
    align-items: flex-start;
  }
}

.property__numbers{
  width: 120px;

  font-family: "SF Pro Display", sans-serif;
  font-size: 200px;
  font-style: normal;
  font-weight: 900;

  color: #f2f2f2;
}

.property__text{
  font-size: $fontsize16;
  line-height: 1.63em;
  font-weight: 400;
  word-break: normal;

  color: $textcolor;

  @media screen and (min-width: 768px) {
    font-size: $fontsize22;
  }
}
